.ln-root {
  //the comment box;
  .ln-commentbox {
    background: $primary-color;
    box-shadow: 0 9px 16px 0 rgba(0, 0, 0, .11);
    display: flex;
    flex-direction: column;
    margin: 15px 0 0;
    // min-width: 20rem;
    max-width: 100vw;
    min-height: 160px;
    pointer-events: all;
    position: absolute;
    width: 480px;
    z-index: 10;
    //the other states in the content box;
    .ln-commentbox--done,
    .ln-commentbox--loading {
      background-color: $primary-color;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;
      //center the content
      &.ln-center,
      .ln-center {
        align-content: center;
        color: $font-color;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        // padding-top: 30px;
        text-align: center;
      }

      p {
        color: $font-color;
        font-size: 13px;
        padding-top: $padding-small;
      }
    }
    //the done icon;
    .ln-commentbox--done {
      .ln-icon {
        font-size: 75px;
      }
    }
    //the triangle on top
    &::before {
      border-bottom: 15px solid $primary-color;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      content: '';
      height: 0;
      position: absolute;
      top: -15px;
      width: 0;
    }
    // when a error ocoures
    .ln-commentbox-error {
      background: $font-color;
      color: $font-color-dark;
      display: block;
      font-size: 15px;
      padding: $padding-medium;
      width: 100%;
    }

    .ln-btn + .ln-btn {
      margin-left: 15px;
    }
  }
  //when the comment box is positioned left
  .ln-commentbox-left {
    flex: 1;
    left: 0;

    &::before {
      left: 15px;
    }
  }
  //when the comment box is positioned right
  .ln-commentbox-right {
    right: 0;

    &::before {
      right: 15px;
    }
  }

  .ln-commentbox-top {
    margin: 0 0 15px;
    &::before {
      border-bottom: 0;
      border-top: 15px solid $primary-color;
      bottom: -15px;
      top: initial;
    }
  }
  // the text area
  .ln-commentbox--textarea {
    background-color: $primary-color;
    border: 0;
    box-sizing: border-box;
    color: $font-color;
    flex-grow: 1;
    font-family: 'Museo Sans', 'Helvetica', sans-serif;
    font-size: 15px;
    line-height: 16px;
    outline: none;
    overflow: none;
    padding: $padding-medium;
    resize: none;
    width: 100%;

    &::-webkit-input-placeholder {
      // WebKit, Blink, Edge
      color: $font-color-semitransparant;
    }

    &:-moz-placeholder {
      // Mozilla Firefox 4 to 18
      color: $font-color-semitransparant;
      opacity: 1;
    }

    &::-moz-placeholder {
      // Mozilla Firefox 19+
      color: $font-color-semitransparant;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      // Internet Explorer 10-11
      color: $font-color-semitransparant;
    }
    //overwrite styles form the website
    &:focus,
    &:hover {
      background: $primary-color;
      color: $font-color;
    }
  }
  //the toolabar on bottom
  .ln-commentbox--tools {
    align-content: space-between;
    border-top: 1px solid $font-color-semitransparant;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $padding-small $padding-medium;
  }
  //the left and the richt site of the buttons
  .ln-commentbox--tools--left,
  .ln-commentbox--tools--right {
    display: block;
  }

  .ln-commentbox--tools--left {
    .ln-checkbox--wrapper {
      padding-right: $padding-small;
    }
  }
  //the files
  .ln-file--list-item {
    align-items: center;
    border-top: 1px solid $font-color-semitransparant;
    color: $font-color-dark;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: $padding-smallest $padding-medium;

    .ln-icon {
      font-size: 12px;
    }

    span {
      font-family: 'Museo Sans', 'Helvetica', sans-serif;
      font-weight: 700;
    }
  }

  .ln-file--name {
    color: $font-color;
  }

  .ln-file--size {
    color: $font-color;
    padding-right: $padding-smallest;
  }
  //the info part on top, when the ticket would be eddited;
  .ln-commentbox--info {
    border-bottom: 1px solid $font-color-semitransparant;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $padding-smallest $padding-medium;

    button {
      height: 100%;
    }

    .ln-btn-transparant {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
