//primary
$primary-color: #319bf5;
$primary-color-light: #93bfe4;
$primary-color-dark: #2e84cd;

//secondary
$secondary-color: #f62121;
$secondary-color-light: #fa5e5e;
$secondary-color-dark: #c92424;

//fonts
$font-color: #fff;
$font-color-hover: #dfdfdf;
$font-color-dark: #000;
$font-color-dark-semitransparant: rgba(0, 0, 0, .32);
$font-color-semitransparant: rgba(255, 255, 255, .38);
$color-transparant: rgba(255, 255, 255, 0);

//paddings
$padding-smallest: 7.5px;
$padding-small: 15px;
$padding-medium: 25px;
$padding-big: 45px;
